.form__header {
    font-size: 60px;
    height: 250px;
    margin: 0px;
    text-align: center;
}

.form__fieldset {
    background: rgba(196, 190, 190, 0.505);
    border: 1px solid;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.form__legend {
    font-size: 36px;
    text-align: center;
    margin: 20px
}

.form__labelText {
    width: 100%;
    max-width: 200px;
    margin-right: 25px;
    font-size: 24px;
    padding: 10px 30px;
}

.form__field {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    width: 100%;
}

.form__button {
    background: rgba(194, 139, 107);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px 30px;
    cursor: pointer;
}

.container {
    max-width: 500px;
    margin: 10px;
    padding: 10 40px;
}